<!doctype html>
<html lang="en">
	<head>
		<!-- Meta Tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>2 - Front-end Networking</title>
		
		<!-- Styling -->
		<link rel="stylesheet" href="../../dist/style/style.css">
	</head>
	<body>
		<div class="container">
			<h1>Front-end Networking</h1>
			<a class="btn btn-primary" role="button" href="../../">Back</a>
			
			<div id="accordian">
				<div class="card">
					<div class="card-header" id="fetchApiHeader">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#fetchApi" aria-expanded="false" aria-controls="fetchApi">
								Fetch API
							</button>
						</h5>
					</div>
					<div id="fetchApi" class="collapse" aria-labelledby="fetchApiHeader" data-parent="#accordion">
						<div class="card-body">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm">
										<div id="myImage"></div>
										<p>The fetch API provides a global <strong>fetch()</strong> method that is used to fetch resources synchronously. Fetch is an upgrade to XMLHttpRequest because it can be used by service workers, has far better syntax and uses promises. Read more about the options and parameters to setting up a request on <a href="https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch">MDN</a>. It is used in the following format:</p>
										<p>
<pre><code>fetch(url, options) // Call the fetch function passing the url of the API as a parameter
.then(function(response) {
	// Your code for handling the data you get from the API
}).catch(function(err) {
	// This is where you run code if the server returns any errors
});</code></pre>
										</p>			
									</div>
									<div class="col-sm">
										<h3>Example 1</h3>
										<p>In this example we're fetching an image and inserting it into a &lt;img&gt; element. The <strong>.blob()</strong> method extracts the data from the response object. <strong>.json()</strong> & <strong>.text()</strong> also exist for this purpose.</p>
										<p>
<pre><code>fetch('flowers.jpg').then(function(response) {
	return response.blob()
}).then(function(myBlob) {
	var objectUrl = URL.createObjectUrl(myBlob);
	myImage.src = objectUrl;
});</code></pre>
										</p>
										<h3>Example 2</h3>
										<p>Same as the above, but with ES6 arrows</p>
										<p>
<pre><code>fetch('flowers.jpg').then(res => res.blob()).then(res => {
	var objectUrl = URL.createObjectUrl(res);
	myImage.src = objectUrl;
});</code></pre>
										</p>
										<h3>Example 3</h3>								
										<p><a href="https://googlechrome.github.io/samples/fetch-api/fetch-post.html" title="https://googlechrome.github.io/samples/fetch-api/fetch-post.html">POST request with a body</a></p>
										<h3>More Examples</h3>
										<p><a href="https://github.com/googlechrome/samples/tree/gh-pages/fetch-api" title="https://github.com/googlechrome/samples/tree/gh-pages/fetch-api">Google Fetch Examples</a></p>
										<h3>Error Handling</h3>
										<p><strong>fetch()</strong> has different error handling than jQueries $.ajax. This is because it uses promises. The promise only <i>catches</i> if the user is offline, or some unlikely networking error occurs, such a DNS lookup failure. Luckily <strong>.fetch()</strong> provides a simple 'ok' flag, that indicates whether a HTTP responses's status code is successful or not. An example of this can be found <a href="https://www.tjvantoll.com/2015/09/13/fetch-and-errors/" title="https://www.tjvantoll.com/2015/09/13/fetch-and-errors/">here</a>.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="corsHeader">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#cors" aria-expanded="false" aria-controls="cors">
								CORS
							</button>
						</h5>
					</div>
					<div id="cors" class="collapse" aria-labelledby="corsHeader" data-parent="#accordion">
						<div class="card-body">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm">
										<h3>What</h3>
										<p>CORS allows a user to access selected resources from a server on a different origin that the site currently in use by using request headers. The user makes a cross-origin HTTP request.</p>
										<p>For security reasons, browsers restrict cross-origin HTTP requests initiated from within scripts. For example, the XMLHttpRequest and the Fetch API follow the same-origin policy. This means that the scripts can only make requests to the same domain that the site is hosted on.</p>
										<h3>Where</h3>
										<ul>
											<li>XMLHttpRequest / Fetch</li>
											<li>Webfonts</li>
											<li>WebGL textures</li>
											<li>Images &amp; video frames drawn using drawImage on a canvas</li>
											<li>Stylesheets</li>
											<li>Scripts</li>
										</ul>
										<h3>How</h3>
										<p>CORS works by adding new HTTP headers that allow servers to describe the set of origins that are permitted to read information. Browsers are required to 'preflight' their requests using the OPTIONS request method, then upon approval from the server, send the actual request. Servers can also notify clients whether credentials are required with requests.</p>
										<h3>Exceptions (simple requests)</h3>
										<p>Some requests dont trigger CORS preflight. These are called <strong>simple requests</strong>. To be simple, you must meet the conditions:</p>
										<ul>
											<li>Either GET, HEAD or POST</li>
											<li>Only headers allowed: Accept, Accept-language, Content-language, Content-type (x-www-form-urlencoded, form-data, text/plain), Last-Event-id, DPR, Save-Date, Viewport-Width, Width</li>
											<li>No ReadableStream object is used in the request</li>
										</ul>
										<p>Read more about CORS on <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS" title="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS">MDN</a>.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
			(function() {
				//Simplest Json fetching
				fetch('stufftofetch/movies.json').then(function(response) {
					return response.json();
				}).then(function(myJson) {
					console.log('Simple fetching JSON:', JSON.stringify(myJson));
				  });

				//Checking to see if a fetch was successful
				fetch('stufftofetch/movies.json').then(response => {
					if (response.ok) {
						return response.json();
					}
					throw new Error('Network response was not ok.');
				}).then(myJson => { 
					console.log('Checking if fetch successful fetching JSON:', JSON.stringify(myJson));
				}).catch(error => {
					console.log('There has been a problem with your fetch operation: ', error.message);
				});

				//Checking fetch status
				var fetchStatus;
				fetch('stufftofetch/movies.json').then(response => {
					fetchStatus = response.status;
					if (response.status === 200) {
						return response.json();
					}
					throw new Error('Network response was not ok.');
				}).then(myJson => { 
					console.log('Checking if fetch status is 200:', fetchStatus, JSON.stringify(myJson));
				}).catch(error => {
					console.log('There has been a problem with your fetch operation: ', fetchStatus, error.message);
				});
				  
				//Simplest Image fetching
				fetch('stufftofetch/flowers.jpg').then(function(response) {
					return response.blob()
				}).then(function(myBlob) {
					// var objectUrl = URL.createObjectUrl(myBlob);
					// var myImage = document.querySelector('#myImage');
					// myImage.src = objectUrl;
				});

				//Fetch error handling (chaining)
				fetch('stufftofetch/movies.json').then(response => {
					if (response.ok) {
						return response;
					}
					throw new Error('Network response was not ok.');
				}).then(response => {
					return response.json()
				}).then(myJson => {
					console.log('Fetch error handling (chaining):', JSON.stringify(myJson));
				}).catch(error => {
					console.log('There has been a problem with your fetch operation: ', error.message);
				});
			}())
		</script>

		<!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>