<!doctype html>
<html lang="en">
	<head>
		<!-- Meta Tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>3 - Progressive Web Apps</title>
		
		<!-- Styling -->
		<link rel="stylesheet" href="../../dist/style/style.css">
	</head>
	<body>
		<div class="container">
			<h1>Progressive Web Apps</h1>
			<a href="../../">Back</a>
			
			<div id="accordian">
				<div class="card">
					<div class="card-header" id="serviceWorkersHeader">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#serviceWorkers" aria-expanded="false" aria-controls="serviceWorkers">
								Service Workers
							</button>
						</h5>
					</div>
					<div id="serviceWorkers" class="collapse" aria-labelledby="serviceWorkersHeader" data-parent="#accordion">
						<div class="card-body">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm">
										<h3>What</h3>
										<p>A script that runs in the background. Including features like push notifications and background sync. Their core feature is the ability to intercept network requests and manage a cache of responses.</p>

                                        <h3>Requirements</h3>
                                        <ol>
                                            <li>HTTPs or localhost</li>
                                            <li>The browser supports it</li>
										</ol>
										<h3>Caching Stategy</h3>
										<a href="https://jakearchibald.com/2014/offline-cookbook/" title="https://jakearchibald.com/2014/offline-cookbook/">Jake Archibald's caching strategies</a>
									</div>
									<div class="col-sm">
										<h3>Basic Architecture</h3>
                                        <ol>
											<li>The service worker is registered via <code>serviceWorkerContainer.register()</code></li>
                                            <li>If successfull, it is registered in a <code>ServiceWorkerGlobalScope</code>. This is a context just for the service worker and has no access to the DOM.</li>
                                            <li>Installation of the service worker is only done when service worker pages are accessed. An install event is the first one sent to the service worker. When the <code>oninstall</code> handler completes, the service worker is installed.</li>
                                            <li>After installation, it recieves an activate event. The primary use for <code>onactivate</code> is for cleanup of resources in previous version of the service worker.</li>
										</ol>
									</div>
								</div>
								<div class="row">
									<div class="col-sm">
										<h3>Setting up a service worker</h3>
										<ol>
											<li><strong>Architect your app shell</strong> - The app's shell is the minimal HTML, CSS & JavaScript that is required for the user interface. Its first load should be quick, and it should be immediately cached. This step decides what is required in the appShell. What should be immediatly visible on the screen to the user?</li>
											<li><strong>Registering the service worker</strong> - To install a service worker, you have to start by seeing if it is available, then registering it on your page.<br>
<pre><code>if ('serviceWorker' in navigator) {
	window.addEventListener('load', function() {
			navigator.serviceWorker.register('/sw.js').then(function(registration) {
			console.log('ServiceWorker registration successful with scope: ', registration.scope);
		}, function(err) {
			console.log('ServiceWorker registration failed: ', err);
		});
	});
}</code></pre>The service worker file is at the root of the domain. This means that the service worker's scope will be the entire origin.</li>
											<li><strong>Installing the service worker</strong> - After registration, installation is required. The service worker can listen for the event <i>install</i>.<br>
<pre><code>self.addEventListener('install', (event) = > {
	// Perform install steps
});</code></pre>Inside our <i>install</i> callback, we need to: Open a cache, cache files, confirm whether all required assets are cached.<br>
<pre><code>const CACHE_NAME = 'example-site-cache';
const urlsToCache = ['/', '/styles/main.css', '/script/main.js'];

self.addEventListener('install', (event) = > {
	event.waitUntil(caches.open(CACHE_NAME).then((cache) => {
		console.log('Opened cache');
		return cache.addAll(urlsToCache);
	}));
});</code></pre>Remeber this is just one example. You can perform other tasks in the install step, or ignore it altogether.</li>
											<li><strong>Cache and return requests</strong> - After installation, the service worker can recieve <i>fetch</i> events.<br>
<pre><code>self.addEventListener('fetch', (event) => {
	event.respondsWith(caches.match(event.request).then((response) => {
		if (response) {
			return response;
		}
		return fetch(event.request);
	})
}));</code></pre>Using <i>event.request</i>, it looks for a cached results. If we have a matching response, we return the cached value, otherwise we return the result of a call to fetch, which will make a network request and return the data if anything can be retrieved from the network. If we want to cache new requests, we can do the following:<br>
<pre><code>self.addEventListener('fetch', (event) => {
	event.respondWith(caches.match(event.request).then((response) => {
		if (response) {
			return response;
		}

		var fetchRequest = event.request.clone();

		return fetch(fetchRequest).then((response) => {
			if (!response || response.status !== 200 || response.type !== 'basic') {
				return response;
			}

			var responseToCache = response.clone();

			caches.open(CACHE_NAME).then((cache) => {
				cache.put(event.request, responseToCache);
			});

			return response;
		});
	}));
});</code></pre></li>
											<li>
												<strong>Updating your service worker</strong> - Eventually your service worker will need updating.
												<ol>
													<li>Update your sw.js</li>
													<li>Your new service worker will trigger the <i>install</i> event</li>
													<li>Because there is an existing service worker, it will go to a <i>waiting</i> state</li>
													<li>When currently open pages are closed, the old service worker will be replaced with the new one</li>
													<li>New service worker fires <i>activate</i> event</li>
												</ol>
											</li>
										</ol>
										
									</div>
								</div>
								<div class="row">
									<div class="col-sm">
										<img src="images/sw-lifecycle.png" width="100%" alt="Service worker lifecycle"/>
									</div>
									<div class="col-sm">
										<img src="images/sw-events.png"  width="100%"  alt="Service worker events"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="webManifestHeader">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#webManifest" aria-expanded="false" aria-controls="webManifest">
								Web Manifest
							</button>
						</h5>
					</div>
					<div id="webManifest" class="collapse" aria-labelledby="webManifestHeader" data-parent="#accordion">
						<div class="card-body">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm">
										<h3>What</h3>
										<p>The web app manifest is a simple JSON which defines how the app looks, and provides the ability to attach to the home screen. It defines what the user can launch, and the appearance at launch.</p>        
                                        <h3>How</h3>
                                        <p>First you have to tell the browser to use your manifest file:<br>
                                            <code>&lt;link rel="manifest" href="/manifest.json"&gt;</code>
                                        </p>
                                        <p>The manifest file can have various properties:</p>
                                        <ul>
                                            <li><strong>start_url</strong> - The first URL which is opened when you open the app. If this isn't defined, then the current page is used.</li>
                                            <li><strong>name & short_name</strong> - short_name is used as the text for the user's homescreen. name is used in the webapp installation banner</li>
                                            <li><strong>background_color</strong> - Unless this is set, the app launches with a white background</li>
                                            <li><strong>icons</strong></li> - Array of icons in different sizes
                                            <li><strong>theme_colour</strong> - Specifies the colour of the toolbar</li>
                                            <li><strong>display</strong> - If you want your webapp to hide the browser's UI or not. Set to "standalone", otherwise to "browser"</li>
                                            <li><strong>orientation</strong> - Can be landscape or portrait</li>
                                        </ul>
                                        <p>Click <a href="./manifest.json" title="Example manifest download link" target="_BLANK">here</a> to download a sample manifest</p>
                                        <h3>Testing</h3>
                                        <p>You can open the developer tool's <strong>Application</strong> pane.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>