<!doctype html>
<html lang="en">
	<head>
		<!-- Meta Tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>3 - Accessibility</title>
		
		<!-- Styling -->
		<link rel="stylesheet" href="../../dist/style/style.css">
	</head>
	<body>
		<div class="container">
			<h1>Accessibility</h1>
			<a class="btn btn-primary" role="button" href="../../">Back</a>
			
			<div id="accordian">
				<div class="card">
					<div class="card-header" id="tabOrderHeader">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#tabOrder" aria-expanded="false" aria-controls="tabOrder">
								Tab Order
							</button>
						</h5>
					</div>
					<div id="tabOrder" class="collapse" aria-labelledby="tabOrderHeader" data-parent="#accordion">
						<div class="card-body">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm">
                                        <h3>Introduction</h3>
                                        <p>Its important to make logical tab order so users can navigate the website without use of a keyboard. You may want to specify a tab order that follows relationships in the content, rather than following the order in the code.</p>
                                        <h3>Examples</h3>
                                        <a href="https://www.w3.org/TR/WCAG20-TECHS/H4.html" title="https://www.w3.org/TR/WCAG20-TECHS/H4.html">W3 Accessibility Tab Order</a>
                                        <a href="https://webaim.org/techniques/keyboard/tabindex" title="https://webaim.org/techniques/keyboard/tabindex">Webaim</a>
									</div>
									<div class="col-sm">
                                        <h3>How?</h3>
                                        <p>An alternative order can be specified using the <i>tabindex</i> attribute of the interactive element. The <i>tabindex</i> is given a value between 0 and 32767. Elements that have a <i>tabindex</i> value higher than zero will receive focus before elements without a <i>tabindex</i> or a <i>tabindex</i> of 0.</p>
                                        <p>A <i>tabindex</i> usually has three distinct uses:
                                        <ul>
                                            <li><code>tabindex="1"</code> - (or any number > 1) Defines explicit tab order. Generally a bad idea.</li>
                                            <li><code>tabindex="1"</code> - (or any number > 1) Allows any element to recieve keyboard focus if it has this attribute. Places element in the logical navigation flow.</li>
                                            <li><code>tabindex="1"</code> - (or any number > 1) Removes from tab order and allows elements to recieve a <i>programmatic</i> focus, set by JS.</li>
                                        </ul></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="skipLinksHeader">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#skipLinks" aria-expanded="false" aria-controls="skipLinks">
								Skip Links
							</button>
						</h5>
					</div>
					<div id="skipLinks" class="collapse" aria-labelledby="skipLinksHeader" data-parent="#accordion">
						<div class="card-body">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm">
                                        <h3>Introduction</h3>
										<p>The main content or navigation isn't usually the first thing on the page. Keyboard and screen readers must navigate through a lot of elements before they get to where they want to be. A <i>skiplink</i> is the first element on the page, and is usually hidden. The screenreader or keyboard user can focus on this element and use it to navigate to the content or the navigation bar, thus saving time.</p>
									</div>
                                    <div class="col-sm">
                                        <h3>How?</h3>
                                        <p>Create a anchor tag element as the first element, straight after the <code>&lt;body&gt;</code> opening tag. Then make it visibility:hidden, unless focus is on it.
<pre><code>&lt;body&gt;
    &lt;a class="skiplink" href="#maincontent"&gt;Skip to main content&lt;/a&gt;
    ...
    &lt;main id="maincontent"&gt;
    &lt;h1&gt;Heading&lt;/h1&gt;
    ...


.skiplink {
    visibility: hidden;
}
.skiplink:focus {
    visibility: visible;
}
</code></pre></p>
                                    </div>
								</div>
							</div>
						</div>
					</div>
                </div>
                <div class="card">
                    <div class="card-header" id="ariaHeader">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#aria" aria-expanded="false" aria-controls="aria">
                                ARIA
                            </button>
                        </h5>
                    </div>
                    <div id="aria" class="collapse" aria-labelledby="ariaHeader" data-parent="#accordion">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm">
                                        <h3>Introduction</h3>
                                        <p>Accessible Rich Internet Applications <strong>(ARIA)</strong>  are additional attributes to add to elements to define roles, values and traits. These attributes are used to make the web content more accessible. It is mostly used to define a role.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <h3>Roles</h3>
                                        <p>Roles describe widgets that aren't otherwise available in HTML4. Some roles have their own elements in HTML5. Where available, HTML5 semenatics should be preferred over HTML4 roles. There are more than 30 <i>ARIA</i> roles, including: alert, checkbox, dialog, menubar, slider, tooltip. Roles don't actually do anything themselves, they just provide the screen reader with more information.</p>
                                        <p><code>&lt;div class="btn btn-default" role="button"&gt;Submit&lt;/div&gt;</code></p>
                                    </div>
                                    <div class="col-sm">
                                        <h3>States</h3>
                                        <p>States describe the current interaction state of an element. There are 9 states. For example: aria-checked, aria-disabled, aria-invalid</p>
                                        <p>
                                            <code>&lt;div aria-expanded="true"&gt;Menu&lt;/div&gt;</code>
                                            <br>
                                            Will output <i>"Menu Expanded"</i> by a screenreader.
                                        </p>
                                        <h3>Properties</h3>
                                        <p>Properties describe the characteristics of these widgets. There are more than 20 ARIA properties including: aria-describedby, aria-label, aria-required, aria-draggable</p>
                                        <p>
                                            <code>&lt;div aria-label="say this"&gt;Say that&lt;/div&gt;</code>
                                            <br>
                                            Will output <i>"say this"</i> by a screenreader.
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <h3>Live Regions</h3>
                                        <p>Dynamic content which updates a page without reload, and isn't interactive, is a <i>live region</i>. <i>Live regions</i> have their own ARIA properties:
                                            <ul>
                                                <li>
                                                    <strong>aria-live</strong> - Used to set the priority with which screenreader should treat updates to this region. Possible settings are:
                                                    <ul>
                                                        <li><i>Off</i> - (default) User wont recieve any notification of an update.</li>
                                                        <li><i>Polite</i> - Will wait until the user pauses, before announcing an update.</li>
                                                        <li><i>Assertive</i> - Wont wait. Will announce the update instantly.</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <strong>aria-controls</strong> - Used to associate a control with the regions it controls. Regions are identified like an ID in a div. Multiple regions can be controlled using a space, eg <code>aria-controls="myRegion1 myRegion2"</code>
                                                </li>
                                            </ul>
                                        </p>
                                        <p>An example can be found on <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions#Dropdown_box_updates_useful_onscreen_information" title="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions#Dropdown_box_updates_useful_onscreen_information">MDN</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="colourContrastHeader">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#colourContrast" aria-expanded="false" aria-controls="colourContrast">
                                Colour Contrast
                            </button>
                        </h5>
                    </div>
                    <div id="colourContrast" class="collapse" aria-labelledby="colourContrastHeader" data-parent="#accordion">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm">
                                        <h4>Level A WCAG Requirements</h4>
                                        <p>Colour should not be used as the sole method of conveying content or distinguishing visual elements. (links should not be identifiable just by the colour). For links, if you don’t provide any visual que that isn’t colour for links, the colour contrast between text should be at least <strong>3:1</strong>. For links, they must have a non-colour designator for focus/hover states.</p>
                                    </div>
                                    <div class="col-sm">
                                        <h4>Level AA WCAG Requirements</h4>
                                        <p>The foreground and the background colour should have a <strong>4.5:1</strong> contrast ratio.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <p>
                                            Therefore, to be AA compliant, the page must have the following:
                                            <ul>
                                                <li>4.5:1 Contrast between non-link text colour and the background</li>
                                                <li>4.5:1 Contrast between link text colour and the background</li>
                                                <li>3:1 Contrast between link text colour and surrounding text colour</li>
                                            </ul>
                                            This becomes more complicated if you want to provide various link states (hover/focus, visited, active) colous. W3 has a <a href="https://www.w3.org/TR/2008/NOTE-WCAG20-TECHS-20081211/working-examples/G183/link-contrast.html" title="https://www.w3.org/TR/2008/NOTE-WCAG20-TECHS-20081211/working-examples/G183/link-contrast.html"></a>list of colours which fit these criteria for links.<br>
                                            <a href="https://webaim.org/resources/contrastchecker/" title="https://webaim.org/resources/contrastchecker/">Webaim colour contrast checker</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="semanticMarkupHeader">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#semanticMarkup" aria-expanded="false" aria-controls="semanticMarkup">
                                Semantic Markup
                            </button>
                        </h5>
                    </div>
                    <div id="semanticMarkup" class="collapse" aria-labelledby="semanticMarkupHeader" data-parent="#accordion">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm">
                                        <h3>Names &amp; Roles</h3>
                                        <p>Every element which can be interacted, should have a name and a role. If the user is expected to put an input, it should also have a value.</p>
                                        <h4>Name</h4>
                                        <ul>
                                            <li><b>Form field</b> - The name for a form field is it's label. <code>&lt;label for="text_1"&gt;<strong>Fruit type</strong>&lt;/label&gt;&lt;input id="text_1" type="text" value=""/&gt;</code></li>
                                            <li><b>Link</b> - The name for an anchor tag is it's text, or alt tag. <code>&lt;a href="/home.html"&gt;<strong>Home</strong>&lt;/a&gt;</code></li>
                                            <li><b>Button</b> - The name for a button is the text, or the value. <code>&lt;button&gt;<strong>Home</strong>&lt;button&gt;</code></li>
                                        </ul>
                                        <h4>Role</h4>
                                        <p>Roles are determined by the HTML element. It determines the standard actions and properties. You can also use the <i>type=""</i> attribute on <i>&lt;input&gt;</i> to set the role of an element. Eg <code>&lt;input <strong>type="button"</strong> value="save"&gt;</code></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>

		<!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>