<!doctype html>
<html lang="en">
	<head>
		<!-- Meta Tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>5 - ES2015 Concepts &amp; Syntax</title>
		
		<!-- Styling -->
		<link rel="stylesheet" href="../../dist/style/style.css">
	</head>
	<body>
		<div class="container">
			<h1>5 - ES2015 Concepts &amp; Syntax</h1>
			<a class="btn btn-primary" role="button" href="../../">Back</a>
			
			<div id="accordian">
				<div class="card">
					<div class="card-header" id="cacheApiHeader">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#cacheApi" aria-expanded="false" aria-controls="cacheApi">
								gdfsgfdfgdfg
							</button>
						</h5>
					</div>
					<div id="cacheApi" class="collapse" aria-labelledby="cacheApiHeader" data-parent="#accordion">
						<div class="card-body">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm">
										<p>dsfdsfdsf</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="variablesHeader">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#variables" aria-expanded="false" aria-controls="variables">
								Variables
							</button>
						</h5>
					</div>
					<div id="variables" class="collapse" aria-labelledby="variablesHeader" data-parent="#accordion">
						<div class="card-body">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm">
										<h3>Overview</h3>
										<p><code>var</code> is function scoped. <code>let</code> and <code>const</code> are block scoped (curley brackets). <code>const</code> is immutable, <code>let</code> isn't.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="stringLiteralsHeader">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#stringLiterals" aria-expanded="false" aria-controls="stringLiterals">
								String Literals
							</button>
						</h5>
					</div>
					<div id="stringLiterals" class="collapse" aria-labelledby="stringLiteralsHeader" data-parent="#accordion">
						<div class="card-body">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm">
										<p>Template literals are string literals allowing embedded expressions. You can use multi-line strings and string interpolation features with them. A string literal should be inside two back tickets <code>``</code>. The expression should be in <code>${...}</code></p>
										<p>
											Previously you had to do:
											<br>
											<code>console.log('Fifteen is ' + (a + b) + ' and\nnot ' + (2 * a + b) + '.');</code>
											<br>
											Now you can do:
											<br>
											<code>console.log(`Fifteen is ${a + b} and not ${2 * a + b}.`);</code>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>